{% extends 'todoapp/base.html'%}
{% load static %}
{% block content %}

<div class="header">
    <h1>赤潮予測</h1>
</div>


<div class="tsuika_kennsaku_p">
    <div class="taskWrapper2">
        <div class = "taskWrapper2">
            <a>商品CD</a>
            <img src="{% static "images/search.svg"%}" width="8%" style="margin: 0 0 0 auto;" alt="" class="img-fluid">
            <form method="GET">
                <input type="text" name="search" value="{{search}}" />
                <input type="submit" value="検索" />
            </form>
        </div>
        <a href="{% url 'create-task' %}">カルテの追加</a>
        <div class="loginAndLogout">
            {% if request.user.is_authenticated %}
            <a href="{% url 'logout' %}" >ログアウト</a>
            {% else %}
            <a href="{% url 'login' %}" >ログイン</a>
            {% endif %}
        </div>
    </div>
</div>





<!-- <table>
    <tr>
        <th>タスク</th>

    </tr>
    {% for task in tasks %}
    <tr>
        <td>{{task.title}}</td>
        <td><a href="{% url 'task' task.id %}">確認</a></td>
        <td><a href="{% url 'edit-task' task.id %}">編集</a></td>
        <td><a href="{% url 'delete-task' task.id %}">削除</a></td>
    </tr>
    {% endfor %}
</table> -->


<div class="tasksWrapper">
    {% for task in tasks %}
    <div class="taskWrapper">
        <div class="tasktitle">
            <a href="{% url 'task' task.id %}">{{task}}</a>
        </div>

        <div>
        {% comment %} <a href="{% url 'edit-task' task.id %}"class="editButton">編集</a>
        <a href="{% url 'delete-task' task.id %}"class="deleteButton">削除</a> {% endcomment %}
        </div>

    </div>
    {% endfor %}
</div>

<!-- <p>{{request.user}}</p> -->

</div>
{% endblock content %}