{% load static %}
<a href="{% url 'tasks' %}">戻る</a>
<table align="center" border="1" width="80%">
    <tr>
        <td>カルテ</td>
        <td>{{task.title}}</td>
    </tr>
    <tr>
        <td>記述者</td>
        <td>{{task.user}}</td>
    </tr>
    <tr>
        <td>記述</td>
        <td>{{task.description}}</td>
    </tr>
</table>
<table align="center" border="0" width="80%">
    <tr>
        <td><img src="{% static "images/PXL_20230516_013636126~2.jpg"%}" width="80%" class="img-fluid"></td>
        <td><img src="{% static "images/PXL_20230516_013636126~2.jpg"%}" width="80%" class="img-fluid"></td>
    </tr>
</table>